<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/template/css/needtoSign.css">
    <title>Please-log-in</title>
</head>
<body>
    <div class="content">
        <p>You are not signed in. </p>
        <p>Please chose to sign in or sign up, if you are not registered</p>
       <div class="link-box"> <a href="/sign-in">Sign In</a> </div>
      <div class="link-box"> <a href="/sign-up">Sign Up</a></div> 
       <div class="link-box"><a href="/">Homepage</a></div> 
    </div>
</body>
</html>