<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/signUp.css">
    <title>signUp</title>
</head>
<body>
    <h1 class="header">Forum Sign Up Form</h1>
    <form class="form" action="/sign-up" method="POST">
     <div class="field">
        <input class="log" required type="text" placeholder="name" name="name">
        <input class="usn" required type="text" placeholder="username" name="username">
        <input class="email" required type="email" placeholder="e-mail" name="email">
        <input class="pswd"required type="password" placeholder="password" name="password">
        <!-- <input class="input" type="password" placeholder="Пароль еще раз"> -->
        <button class="btn" type="submit">Sign Up</button>
        <a href="/">Homepage</a>
        </div>
    </form>

</body>
</html>