<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/template/css/signIn.css">
    <title>Sign-in</title>
</head>
<body>
    <h1 class="header">Forum Sign In Form</h1>
    <form class="form" action="/sign-in" method="POST">
        <div class="field">
            <input class="email" required type="email" placeholder="e-mail" name="email">
            <input class="pswd"required type="password" placeholder="password" name="password">
            <button class="btn" type="submit">Sign In</button>
            <a href="/">Homepage</a>
        </div>
    </form> 

</body>
</html>